*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.6;
    font-family: "Lato", sans-serif;
}

h1 {
    color: #006299;
    font-size: 64px;
    font-weight: 200;
    text-align: center;
    line-height: 1;
}

.icons {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    column-gap: 50px;
    row-gap: 20px;
}

.icon .image {
    max-width: 50px;
    max-height: 50px;

}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 32px;
    }
}
